.venus{
    text-align: center;
}
.marte{
    text-align: center;
}
.pamint{
    text-align: center;
}
.jupiter{
    text-align: center;
}
.Saturn{ 
    text-align: center;
}
.pluto{ 
    text-align: center;
}